/* nstyle.css */
body {
    font-family: Arial, sans-serif;
    background-color: lightgrey; 
}
h1{
    color: #333;

}
p
{
    color :blue;
    line-height:1.6;
    font-size: 14px;
}
h2{
    color:aqua;
    background-color: black;
    padding: 10px;
}
a {
    color:blanchedalmond;
    background-color:bisque;
}
p{color:green;}
.note {
    color: orange;
}
#intro {
    color : purple;
}