/* nstyle.css */
body {
    font-family: Arial, sans-serif;
    background-color: pink; 
    text-align:center;
}
h1{
    color: #333;

}
p
{
    color :blue;
    line-height:1.6;
    font-size: 14px;
}
h2{
    color:aqua;
    background-color: brown;
    padding: 10px;
}
a {
    color:darkblue;
    background-color:bisque;
}
p{color:green !important;
border: 1px solid brown;}
.note {
    color: orange;
}
#intro {
    color : purple;
}
.box{
    color:red;
    background-color:yellow;
    border: 2px solid black;
    width: 200px;
    padding: 10px;
    text-align:center;
    
    
}